body {
  background-image: url('https://media.istockphoto.com/illustrations/waving-flag-of-ethiopia-and-south-africa-illustration-id670170736?k=6&m=670170736&s=612x612&w=0&h=KIepFZvh6gn3dR_Dr58IQPokDTA2p705e3S4FH0wudI=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bigger-label {
  font-size: larger;
  font-weight: bolder;
}

div.container {
  opacity: 0.9;
}

button {
  border-radius: 2em !important;
}
